/**************** COLORS ******************/
$color-icon: white;
$color-nav: #E44D3A;
$color-bg: #F2F2F2;
$color-icon2: #B7B7B8;

/**************** ICONS STYLE ******************/

.icon {
  width: 20px;
  height: 20px;

  mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;

  display: inline-block;
  vertical-align: sub;

  //background-color: blue;
  background-color: $color-icon;

  &.icon-home {
    mask-image: url("../icons/home.svg");
    -webkit-mask-image: url("../icons/home.svg");
  }

  &.icon-companies {
    mask-image: url("../icons/organization_30px.png");
    -webkit-mask-image: url("../icons/organization_30px.png");
  }

  &.icon-users {
    mask-image: url("../icons/add_user_group_man_man_50px.png");
    -webkit-mask-image: url("../icons/add_user_group_man_man_50px.png");
  }

  &.icon-messege {
    mask-image: url("../icons/group_message_50px.png");
    -webkit-mask-image: url("../icons/group_message_50px.png");
  }

  &.icon-mail2 {
    mask-image: url("../icons/group_message_50px.png");
    -webkit-mask-image: url("../icons/group_message_50px.png");
    width: 15px;
    height: 15px;
  }

  &.icon-storm {
    mask-image: url("../icons/lightning_bolt_50px.png");
    -webkit-mask-image: url("../icons/lightning_bolt_50px.png");
  }

  &.icon-project {
    mask-image: url("../icons/microsoft_project_24px.png");
    -webkit-mask-image: url("../icons/microsoft_project_24px.png");
  }

  &.icon-newJob {
    mask-image: url("../icons/new_job_50px.png");
    -webkit-mask-image: url("../icons/new_job_50px.png");
  }

  &.icon-search {
    mask-image: url("../icons/search.svg");
    -webkit-mask-image: url("../icons/search.svg");
    background-color: $color-nav;
  }

  &.icon-list {
    mask-image: url("../icons/table_of_content_24px.png");
    -webkit-mask-image: url("../icons/table_of_content_24px.png");
    background-color: $color-icon2;
  }

  &.icon-plus {
    mask-image: url("../icons/plus_math_24px.png");
    -webkit-mask-image: url("../icons/plus_math_24px.png");
    background-color: $color-icon2;
  }

  &.icon-clock {
    mask-image: url("../icons/clock_50px.png");
    -webkit-mask-image: url("../icons/clock_50px.png");
    background-color: $color-icon2;
    width: 15px;
    height: 15px;
  }

  &.icon-bookmark {
    mask-image: url("../icons/bookmark.svg");
    -webkit-mask-image: url("../icons/bookmark.svg");
  }

  &.icon-mail {
    mask-image: url("../icons/envelope.svg");
    -webkit-mask-image: url("../icons/envelope.svg");
  }

  &.icon-like {
    mask-image: url("../icons/heart_outline_26px.png");
    -webkit-mask-image: url("../icons/heart_outline_26px.png");
    background-color: $color-icon2;
  }

  &.icon-comment {
    mask-image: url("../icons/comments_30px.png");
    -webkit-mask-image: url("../icons/comments_30px.png");
    background-color: $color-icon2;
  }

  &.icon-eye {
    mask-image: url("../icons/eye.svg");
    -webkit-mask-image: url("../icons/eye.svg");
    background-color: $color-icon2;
  }
}

/******************* MAIN STYLE *******************/

body {
  background-color: $color-bg;

  .color-nav {
    background-color: $color-nav;
  }
  .silver {
    background-color: #dfdfdf;
  }
  .fs-12 {
    font-size: 12px;
  }
  .fs-13 {
    font-size: 13px;
  }
  .fs-18 {
    font-size: 18px;
  }
  .circle {
    width: 50px;
    height: 50px;
  }

  nav {
    background-color: $color-nav;
    .container {
      .navbar {
        .collapse {
          .input-group {
            width: 340px;
          }

          .dropdown {
            border-right: 1px solid #404040;
            border-left: 1px solid #404040;
            width: 115px;
            margin: 0 auto;
          }
        }
      }
    }
  }

  main {
    #section1 {
      .container {
        .row {
          .col-3 {
            .row {
              .col-12 {
                .card {
                  .card-header {
                    height: 110px;
                    position: relative;

                    .circle {
                      width: 110px;
                      height: 110px;
                      position: absolute;
                      bottom: -50px;
                    }
                  }
                }
              }
            }
          }

          .col-6 {
            .row {
              .col-12 {
                .card {
                  .card-body {
                    .owl-carousel {

                      .owl-prev, .owl-next {
                        width: 30px;
                        height: 30px;
                        background-color: #fff !important;
                        //box-shadow: 0 0 10px #888;
                        border-radius: 50% !important;
                        position: absolute;
                        top: 40%;
                        left: -40px;
                      }

                      .owl-prev span, .owl-next span {
                        font-size: 32px;
                        line-height: 16px;
                      }

                      .owl-next {
                        right: -40px;
                        left: unset;
                      }

                      .owl-next:focus, .owl-prev:focus {
                        outline: none;
                      }

                      .owl-prev:hover span, .owl-next:hover span {
                        color: black;
                      }

                      .owl-dot {
                        outline: none !important;
                      }
                    }
                  }

                  .box {
                    height: 5px;
                    background-color: $color-nav;
                  }
                }
              }
            }
          }

          .col-12 {
            .circle {
              .spinder {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: silver;

                &:nth-child(1) {
                  animation-name: anim1;
                  animation-duration: 2s;
                  animation-iteration-count: infinite;
                  animation-timing-function: linear;
                }
                &:nth-child(2){
                  animation-name: anim2;
                  animation-duration: 2s;
                  animation-iteration-count: infinite;
                  animation-timing-function: linear;
                }
                &:nth-child(3){
                  animation-name: anim3;
                  animation-duration: 2s;
                  animation-iteration-count: infinite;
                  animation-timing-function: linear;
                }
              }
            }
          }
        }
      }
    }

    #section2 {
      display: none;

      .container {
        .row {
          .col-12 {
            .row {
              .col-12 {
                .card {
                  .card-header {
                    height: 110px;
                    position: relative;

                    .circle {
                      width: 110px;
                      height: 110px;
                      position: absolute;
                      bottom: -50px;
                    }
                  }
                }
              }
            }
          }

          .col-12 {
            .row {
              .col-12 {
                .card {
                  .card-body {
                    .owl-carousel {

                      .owl-prev, .owl-next {
                        width: 30px;
                        height: 30px;
                        background-color: #fff !important;
                        //box-shadow: 0 0 10px #888;
                        border-radius: 50% !important;
                        position: absolute;
                        top: 40%;
                        left: -40px;
                      }

                      .owl-prev span, .owl-next span {
                        font-size: 32px;
                        line-height: 16px;
                      }

                      .owl-next {
                        right: -40px;
                        left: unset;
                      }

                      .owl-next:focus, .owl-prev:focus {
                        outline: none;
                      }

                      .owl-prev:hover span, .owl-next:hover span {
                        color: black;
                      }

                      .owl-dot {
                        outline: none !important;
                      }
                    }
                  }

                  .box {
                    height: 5px;
                    background-color: $color-nav;
                  }
                }
              }
            }
          }

          .col-12 {
            .circle {
              .spinder {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: silver;

                &:nth-child(1) {
                  animation-name: anim1;
                  animation-duration: 2s;
                  animation-iteration-count: infinite;
                  animation-timing-function: linear;
                }
                &:nth-child(2){
                  animation-name: anim2;
                  animation-duration: 2s;
                  animation-iteration-count: infinite;
                  animation-timing-function: linear;
                }
                &:nth-child(3){
                  animation-name: anim3;
                  animation-duration: 2s;
                  animation-iteration-count: infinite;
                  animation-timing-function: linear;
                }
              }
            }
          }
        }
      }
    }

  }

}
/***************** KEYFRAMES *******************/

@keyframes anim1 {
  33%{
    transform: scale(-1);
  }
}
@keyframes anim2 {
  66%{
    transform: scale(-1);

  }
}
@keyframes anim3 {
  99%{
    transform: scale(-1);

  }
}

/******************* MEDIA STYLE *****************/

@media (max-width: 1199px) {
  body {
    nav{
      .container{
        .navbar{
          .collapse{
            .input-group{
              width: 100%;
            }
          }
        }
      }
    }


    main {
      #section1 {
        display: none;
      }

      #section2 {
        display: block;
      }
    }
  }

}